.container {
  margin: 10px auto;
  width: 600px;
  padding-bottom: 15px;
/*  border: 1px solid black;*/
  text-align: center;
}

body {
/*  color #fff;*/
  background-color: #fff;
  font-family: futura, sans-serif;
  font-size: 20px;
  text-align:center;
}

.answer {
  font-size: 30px;
}

#correctness {
  font-style: italic;
  color: #086DB5;
}

h2.card {
 color: black;
}

h2.play {
  margin-bottom: 15px;
}

h1.card,h2.signup {
  text-align: center;
  color: #086DB5;
}

table {
  margin: 0;
  vertical-align: text-top;
  margin-left:auto; 
  margin-right:auto;
}

table.center {
  vertical-align: text-top;
  margin-top: 0px;
}

th {
  border: solid;
  padding: 10px;
}

.td-play {
  color: black;
  padding: 10px;
  border-right: solid;
  border-left: solid;
  border-color: solid;
}

td {
  color: #778899;
  border-bottom: solid;
  padding: 10px;
  background-color: transparent;
}

th {
  text-align: center;
}

.error { 
  margin: 10px auto;
  width: 600px;
  height: 420px;
  padding-bottom: 15px;
  border: 1px solid;
/*  border: 1px solid black;*/
  text-align: center;
  background-image: url('http://images3.wikia.nocookie.net/__cb20120902070121/thehungergames/images/3/3a/Funny-gif-hahaha-no-transformers.gif'); 
  background-size: 100% }

/*Alternate Button*/
/*input.submitanswer{
  border:none;
  background: rgba(54,54,54,0.6);
  border-radius: 4px;
  box-shadow: 1px 1px 1px black;
}
input.submitanswer:hover{
  box-shadow: none;
  background: rgba(54,54,54,0.7);
}
*/
div.statcontainer{
  height: 100px;
  background:rgba(200,200,200,1);
  overflow-y: scroll;
}




