    <form id="card_guess" action="/user/<%=@user_id%>/round/<%=@round_id%>/deck/<%=@deck_id%>/card/<%=@card_id%>/answer" method="POST">
    <input id="guess_input" type="text" value="" placeholder="Enter your guess!" name="guess">
    <input type="submit" value="Guess!">
    </form>
