<div class="container">

<p class="answer">Finished Round: <%=@round_id%> </p>
<p class="answer">Deck Name: <%=Deck.find(@deck_id).name.capitalize%> </p>
<p class="answer">Score: <%=@score%> </p>


<form id="answer" action="/play" method="GET">
<input type="submit" value="End">

</form>
</div>
