<div class="container">

<h1> What's the answer?</h1>
<form id="card_guess" action="/card" method="POST">
<input type="text" value="" placeholder="Enter your guess!" name="answer_attempt">
<input type="submit" value="Guess!">
</form>
</div>
