<div class="container">
  <h1>Flashcard Game</h1>

  <form id="login" action="/" method="POST">
    <label for="user_email">Email:</label>
    <input id ="user_email" type="text" name="email" placeholder="your@email.com"><br><br>
    <label for="user_password">Password:</label>
    <input id ="user_password" type="text" name="password" placeholder="*******"><br><br>
    <input id="submit" type="submit" name='Submit'><br>
</div>
