<div class="container">

<h1>Pick a round and start playing!</h1>
<form>
<select name="deck select"> 
  <% @deck.each do |deck| %>
  <option value = "<%= deck %>"><%= deck %></option>
  <% end %>
</select>
<input type="submit" value="Start playing">
</form>



<h2>User stats</h2>

</div>



