<div class="container">
  <h2 class="signup">Flashcard Game</h2>
  <h1>Sign Up</h1>

  <form id="signup" method="POST">
    <label for="new_user_email">Enter your email address:</label>
    <input id ="new_user_email" input type="text" name="new_user_email" placeholder="your@email.com"><br><br>
    <label for="new_user_password">Enter your password:</label>
    <input id ="new_user_password" input type="password" name="new_user_password" placeholder="*******"><br><br>
    <label for="confirm_new_user_password">Confirm your password:</label>
    <input id ="confirm_new_user_password" input type="password" name="confirm_password" placeholder="*******"><br>
    <br>
    <input id="submit" type="submit" name='submit' value='Sign Up'><br>
  </form>
</div>

